<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>

		<!-- Datos del server -->
		<add key="SV" value="127.0.0.1" />
		<add key="PT" value="5432" />
		<add key="US" value="postgres" />
		<add key="PW" value="uajms" />
		<add key="BD" value="gestion2026" />

	</appSettings>
</configuration>